@import '@alicorpdigital/dali-css-library/build/css/themes/theme-alicorp/style.min.css';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: 'AlicorpSans', sans-serif;
}


p,
figure {
  margin: 0;
}